<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creación de producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/umeni.jpeg">
    <link rel="stylesheet" href="/css/create.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
</head>
<body>
<form method="post" action="/products/create">
  <h1>Creá un producto</h1>
  <h4 class=subtitulo>Llená la información requerida</h4>
  <br>
 
  
  <label for="name">Título de la obra:</label>
  <input type="name" placeholder="Ingresá el nombre del producto" id="prodname" name="titulo_obra" required>
  <br>
  <label for="description">Nombre del Artista:</label>
  <input type="name" placeholder="Ingresá nombre" id="nombre" name="nombre_artista" required>
  <br>
  <br>
  <label for="description">Apellido del rtista:</label>
  <input type="name" placeholder="Apellido del Artista" id="apellido" name="apellido_artista" required >
  <br>
  <label for="prod_img">Imagen de la obra:</label>
  <input type="file" placeholder="Cargá una imagen" id="prod_img" name="imagen" accept=".jpg" multiple required> 
  <br>
  <legend>Categoría</legend>
  <div class="contcheckbox">
      <label>
          <input id="catint" type="checkbox" name="categoria" value="pintura" checked>Pintura
      </label>
      <label>
          <input id="catint" type="checkbox" name="categoria" value="escultura">Escultura
      </label>
      <label>
          <input id="catint" type="checkbox" name="categoria" value="fotografia">Fotografía
      </label>
  </div>
  <div class="contcheckbox">
    <br>
    
<br>
<br>
<label for="price">Precio:</label>
<input type="number" placeholder="Ingresá el precio de la obra" id="price" name="precio" required>
<br>
  <br>
    <button class="login" type="submit">Enviar</button>
  <br>
</form>
<footer>
  <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>