<!DOCTYPE html>
<html lang="en">
<head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/images/umeni.jpeg">
    
        <title>Umeni</title>
        
</head>
<body class="home">
   
     <header>
        <img class="logo" src="/images/umeni.jpeg" alt="logo-de-umeni">
        <a href="#" class="hamburger-buttom">
            <i class="fa-solid fa-bars"></i>
        </a>
       
            <nav>
                <ul>
                    <li><a class="nav" href="#">Home</a></li>
                    <li><a class="nav" href="#">Pinturas</a></li>
                    <li><a class="nav" href="#">Fotos</a></li>
                    <li><a class="nav" href="#">Sobre nosotros</a></li>
                </ul>
           
          
                <a href="" class="carrito-de-compras">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            
            
                <a href="user">
                    <i class="fa-solid fa-user"></i>
                </a>
            
        </div>
        
    </header>
        
        <button class="redes">Redes</button><br>
        <button class="contacto">Contacto</button>

</body>
</html>