<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/login.css">

</head>
<body>
    <div class="register-container">
        <h2>Iniciar Sesion</h2>
        <h5>Llena la informacion requerida</h5>
        <form action="">
            <div>
                <label>Correo Electronico</label>
                <br><input type="email" placeholder="Ingresa tu correo electronico"required>
            </div>
            <div>
                <label>Ingresa tu contraseña</label>
                <br><input type="password" placeholder="Ingresa tu contraseña" required>
            <button type="submit">Iniciar Sesion</button>
            <div class="o">
                O
            </div>
            <div>
                
                <button type="submit"><i class="fab fa-google"></i> Inicia Sesion con Google</button>
            </div>
            <div>
                <button type="submit"><i class="fab fa-facebook"></i> Inicia Sesion con Facebook</button>
            </div>
            <div>
                ¿No tienes un usuario generado? <a href="#">Registrarme</a>
            </div>
        </form>

    </div>
    
</body>
</html>