<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Umeni - Detalle de Producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/umeni.jpeg">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<form>
  <h1>Iniciar Sesion</h1>
  <br>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>
  <br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <br><br>
    <button class="login" type="submit">Login</button>
  <br><br>
<button class="google" type="submit"><img src="/images/logos_google-icon.png" alt=""> Inicia Sesion con Google</button>
<button class="facebook" type="submit"><img src="/images/logos_facebook.png" alt=""> Inicia Sesion con Facebook</button>
  <br><br>
  <a href="#">Forgot your password?</a>
  <br><br>
  <a href="#">Still not a member?</a>
</form>
</body>
</html>