header {
    margin: 20px;
}

.fa-bars{
    font-size: 50px;
    color: #F4B266;
    position: absolute;
    left: 5%;
}

nav{
    display: flex;
}

.navigation{
    color: #808F87;
    text-decoration: none;
    font-size: 25px;
}

.home{
    position: absolute;
    left:10%;
}
.tienda{
    position: absolute;
    left:25%;
}
.join{
    position: absolute;
    right:10%;
}
.enter{
    position: absolute;
    right:30%;
}

.img-user{
    position:absolute;
    right: 30%;
    top: 2%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.fa-sign-out-alt{
    position: absolute;
    right: 18%;
    font-size: 30px;
    color: #808F87;
}
.fa-cart-shopping{
    position: absolute;
    right: 5%;
    font-size: 30px;
    color: #808F87;
}

@media (min-width: 460px){
    .fa-bars{
        display: none;
    }
}

@media (max-width: 460px){
    .navigation{
        display: none;
    }   
}