header {
    margin-bottom: 100px;
    background-color: #F5F5F5;
}

.hamburger-buttom {
    z-index: 2;
    font-size: 50px;
    color: #F4B266;
    position: absolute;
    left: 10%;
    top: 5%;
}

.carrito-de-compras {
    display: none
}
.user {
    display: none;
}
nav {
    display: none;
}

@media (min-width: 768px){
    .hamburger-buttom{
        display: none;
    }
   
    nav {
        display: flex;
        position: absolute;
        top: 6%;
        left: 45%;
        transform: translate(-50%, -50%);
    }
    ul {
        display: flex;
        justify-content: left;
        align-items: center;
        list-style: none;
    }
    a.nav {
        color: #808F87;
        text-decoration: none;
        font-size: 30px;
        padding: 5px;
        margin: 10px;
    }

    .cart {
       display: inline-block;
        position: absolute;
        top: 50%;
        left: 122%;
        transform: translate(-50%, -50%);
        color: #5C5C5C;
    }
    i {
        transition: all 3s;
    }
    i:hover {
        color: #F4B266;
        text-shadow: 10px 10px 50px #F4B266;
        font-size: 20px;
    }
    .img-user{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 105%;
        transform: translate(-50%, -50%);
    }

    .fa-sign-out-alt{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 114%;
        transform: translate(-50%, -50%);
        color: #5C5C5C;
    }
   
a.nav {
    transition: all 3s;
}
a:hover {
    color: #F4B266;
    text-shadow: 10px 10px 50px #F4B266
}

}
