*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:50px 30px;
}

h2{
    color: #65655D;
    margin: 50px 0px;
    font-size: 50px;
}

.img-avatar{
    height: 300px;
    width: 300px;
    border-radius: 30px;
}

.user-mail{
    color: #F99F3F;
    font-size: 25px;
}

.edit-profile{
    margin: 0px 40px;
}

.user-delete,
.profile-edit{
    width: 100%;
    background-color: #F4B266;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #888888;
}