<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crear Vino</h1>
    <br>
    <br>
    <form method="POST" action="/vinos/add" enctype="multipart/form-data">
<label for="name">Nombre:</label>
  <input type="name" placeholder="Ingresá el nombre del producto" id="prodname" name="nombre" required>
  <br>
  <br>
  <label for="description">Descripción</label>
  <input type="name" placeholder="Descripción" id="apellido" name="apellido_artista" required >
  <br>
  <br>
  <label for="prod_img">Imagen:</label>
  <input type="file" placeholder="Cargá una imagen" id="prod_img" name="imagen"  multiple required> 
  <br>
  <br>
  <label for="price">Precio:</label>
  <input type="number" placeholder="Ingresá el precio" id="price" name="precio" required>
  <br>
  <br>
  <label for="price">Año:</label>
  <input type="number" placeholder="Ingresá el año" id="price" name="anio" required>
  <br>
  <br>
  <label>nombreBodega_idBodega:</label>
  <input type="number" placeholder="Ingresá el id de bodega"  name="nombreBodega_idBodega" required>
  <br>
  <br>
  <label>lineas_idLineas:</label>
  <input type="number" placeholder="Ingresá el id de linea"  name="lineas_idLineas" required>
  <br>
  <br>
  <label>cepas_idCepas:</label>
  <input type="number" placeholder="Ingresá el id de cepa"  name="cepas_idcepa" required>
  <br>
  <br>
  <label>maridaje_idMaridaje:</label>
  <input type="number" placeholder="Ingresá el id de maridaje"  name="maridaje_idMaridaje" required>
  <br>
  <br>
  <label>Potencial de guardado:</label>
  <input type="number" placeholder="Ingresá el potencial de guardado"  name="potencialGuardado" required>
  <br>
  <br>
  <label>Volumen:</label>
  <input type="number" placeholder="Ingresá el volumen"  name="volumen" required>
  <br>
  <br>
    <button class="login" type="submit">Enviar</button>
  <br>
</form>
  

</body>
</html>