<!DOCTYPE html>
<html lang="en">
<head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="icon" href="/images/umeni.jpeg">
        
    
        <title>Umeni</title>
        
</head>
<body class="home">
<main>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>

    <div class="logo">
        <img class="logo" src="/images/umeni.jpeg" alt="logo-de-umeni">
    </div>
        
       
    <button class="redes">Redes</button>
    <button class="contacto">Contacto</button>
        
    <footer class="container">
        <%- include('./partials/footer.ejs') %>
    </footer>
</main>
</body>

</html>