<!DOCTYPE html>
<html lang="en">
<head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="icon" href="/images/umeni.jpeg">
        
    
        <title>Umeni</title>
        
</head>
<body class="home">
   
     <header>
        
        <a href="#" class="hamburger-buttom">
            <i class="fa-solid fa-bars"></i>
        </a>
       
            <nav>
                <ul>
                    <li><a class="nav" href="#">Home</a></li>
                    <li><a class="nav" href="#">Pinturas</a></li>
                    <li><a class="nav" href="#">Fotos</a></li>
                    <li><a class="nav" href="#">Sobre nosotros</a></li>
                </ul>
           
          
                <a href="" class="carrito-de-compras">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            
            
                <a href="user">
                    <i class="fa-solid fa-user"></i>
                </a>
            
        
        
    </header>
    <img class="logo" src="/images/umeni.jpeg" alt="logo-de-umeni">
        <button class="redes">Redes</button>
        <hr>
        <button class="contacto">Contacto</button>
        <footer class="site-footer">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <h6>About</h6>
                  <p class="text-justify"> UMENI nace en 2023 en Argentina. </p> 
                </div>
      
                <div class="col-xs-6 col-md-3">
                  <h6>Categorías</h6>
                  <ul class="footer-links">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/productdetails">Products</a></li>
                    <li><a href="/home">Home</a></li>
                  </ul>
                </div>
      
              <hr>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
               <a href="#">UMENI</a>.
                  </p>
                </div>
      
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                  </ul>
                </div>
              </div>
            </div>
      </footer>
    
</body>

</html>