<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umeni</title>
    <link rel="icon" href="/images/productos/Malbec-Tintos.png">
</head>
<body>
    <H1>Cepas</H1>
    
    <ul>
       
        <% for (let i = 0; i < cepas.length; i++){ %>
            <li>
                <p> <%= cepas[i].nombreCepa %></p>
            </li>
        <% } %> 
       
    </ul>
</body>
</html>