<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de Vinos</h1>
    <ul>
        <% if(locals.vinos){ %>
            <%  for (let i = 0; i < vinos.length; i++){ 
                console.log(vinos) %>
                <li>
                    
             <a href="/vinos/detalleVino/<%= vinos[i].idVino %>"> Vino: <%= vinos[i].nombre %> - Cepa: <%= vinos[i].cepas.nombreCepa %> </a>
             
                   
                </li>
            <% } %> 
            <% } %>      
    </ul>
</body>
</html>