
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a UMENI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>
    <body>
        <a href="/">  <h1 class="navegation">Home</h1></a>
       <br>
       <a href="/vinos"> <h1 class="navegation">Tienda</h1></a>
       <br>
       <br>
       <a href="../user/register"><h1 class="navegation">Register</h1></a>
       <br>
       <a href="../user/login"><h1 class="navegation">Login</h1></a>

    </body>
    </html>