<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/images/umeni.jpeg">
        <link rel="stylesheet" href="/css/test.css">
        <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
    </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#pinturas">Pinturas</a></li>
          <li><a href="#fotos">Fotos</a></li>
          <li><a href="#nosotros">Nosotros</a></li>
        </ul>
      </nav>
    </header>
    <section id="hero">
        <div class="icon">
            <img src="/images/logo_umeni.jpeg" alt="icon" width="150px" height="150px">
        </div>

    <div class="cta-container">
        <a href="#services" class="cta-btn">Our Services</a>
        <a href="#contact" class="cta-btn">Contact Us</a>
    </div>
    </section>
    <footer>
      <p>Copyright ©2022 My Website</p>
    </footer>
  </body>
</html>