<footer>
  <div class="datos">
    <h1>Contactanos</h1>
    <h4>Calle Falsa 123</h3>
    <h4>info@umeni.com</h4>
    <h4>0800-255-UMENI(86364)</h4>
  </div>
  <div class="logos">
    <li>
      <div class="icono"><i class="fab fa-facebook-f"></i></div>
    </li>
    <li>
      <div class="icono"><i class="fab fa-twitter"></i></div>
    </li>
    <li>
      <div class="icono"><i class="fab fa-instagram"></i></div>
    </li>
  </div>
  <div class="terminos">
    <p>Privacy & Cookies</p>
    <p>Terms & Conditions</p>
    <p>Accessibility</p>
  </div>
  <div class="copyright">
    <p>Copyright ©2023 | All rights reserved</p>
  </div>
</footer>