
     <header>
        

        <a href="#" class="hamburger-buttom">
            <i class="fa-solid fa-bars"></i>
        </a>
          
              
            <nav>
                <ul>
                    <li><a class="nav" href="/">Home</a></li>
                    <li><a class="nav" href="../products">Products</a></li>
                    <li><a class="nav" href="../user/login">Login</a></li>
                    <li><a class="nav" href="../user/register">Register</a></li>
                </ul>
           
          
                <a href="./cart" class="carrito-de-compras">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            
            
                <a href="../user/profile">
                    <i class="fa-solid fa-user"></i>
                </a>
            
        </nav>
        
    </header>