
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a UMENI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <script src="https://kit.fontawesome.com/851c995492.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>
    <body>
        <main>
            <section class="banner">
                <img class="portada" src="/images/vino-banner.jpg" alt="Banner-vino">
            </section>

            <div class="form" action="#" method="GET">
                <div class="input">Buscar mas productos</div>
                <div class="submit"><i class="fas fa-search"></i></div>
            </div>
            <br>
            <section class="recomendados">
                <h2>Nuestros recomendados</h2>
                <div class="recomend">
    <Article>
    <ul>
        <% if(locals.usuarios){ %>
            <h1>Listado de usuarios</h1>
            <%  for (let i = 0; i < usuarios.length; i++){ %>
                <li>
                    <%=usuarios[i].nombre%> 
                </li>
            <% } %> 
        <% } %>      
    </ul>
    </Article>
</div>
</section>
<br>
</main>
</body>
</html>
           

</html>